# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\REACT_PROJECT\contact-manager\contact-manager\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
